body {
font-family: Arial;
margin: 0;
}

header, footer {
background-color: #8B4513;
color: white;
text-align: center;
padding: 10px;
}

.container {
display: flex;
}

nav {
width: 150px;
background-color: #eee;
padding: 10px;
}

nav a {
display: block;
margin-bottom: 5px;
text-decoration: none;
color: black;
}

main {
padding: 10px;
}

.product {
border: 1px solid black;
padding: 5px;
margin-bottom: 5px;
}

.logo {
    width:100px;
    display: block;
    margin: 0 auto;
}